about {
    font-family: Arial, Helvetica, sans-serif;
}

hobbies,
videoGameGenres,
televisionGenres,
musicGenres {
    display: block;
    font-size: 1.2em;
    margin-top: 15pt;
    margin-left: 15pt;
}

/*
hobHeading, musHeading, vgHeading, tvHeading, febHeading  {
    display: block;
    font-size: 1.5em;
}
*/

hobby {
    display: list-item;
}

musGenre {
    display: list-item;
}

vgGenre {
    display: list-item;
}

tvGenre {
    display: list-item;
}
