courses {
    font-family: Arial, Helvetica, sans-serif;
}

name {
    display: block;
    font-size: 18pt;
    color: red;
}

professor {
    display: list-item;
    font-size: 16pt;
}

semester {
    display: list-item;
    font-size: 16pt;
}

courseCoverage {
    display: block;
    font-size: 16pt;
}
